# Exclude a variety of commonly ignored directories.
exclude = [
    "docs",
    ".bzr",
    ".direnv",
    ".eggs",
    ".git",
    ".git-rewrite",
    ".hg",
    ".ipynb_checkpoints",
    ".mypy_cache",
    ".nox",
    ".pants.d",
    ".pyenv",
    ".pytest_cache",
    ".pytype",
    ".ruff_cache",
    ".svn",
    ".tox",
    ".venv",
    ".vscode",
    "__pypackages__",
    "_build",
    "buck-out",
    "build",
    "dist",
    "node_modules",
    "site-packages",
    "venv",
    "tests",
    "notebooks"
]

line-length = 120
indent-width = 4

# Assume Python 3.12
target-version = "py312"

[lint]
select = [
    "A",
    "ANN001", "ANN201", "ANN202","ANN205", "ANN206",
    "S101", "S301", "S403",
    "BLE001",
    "B006", "B007", "B008", "B021","B024", "B027", "B032", "B034", "B903",
    "C4",
    "COM",
    "E4", "E7", "E9",
    "EM",
    "F",
    "I",
    "ICN",
    "NPY",
    "N",
    "PD",
    "PTH",
    "RET",
    "SIM",
    "TID",]
ignore = ["COM812"]

# Allow fix for all enabled rules (when `--fix`) is provided.
fixable = ["ALL"]
unfixable = []

# Allow unused variables when underscore-prefixed.
dummy-variable-rgx = "^(_+|(_+[a-zA-Z0-9_]*[a-zA-Z0-9]+?))$"

[format]
# Like Black, use double quotes for strings.
quote-style = "double"

# Like Black, indent with spaces, rather than tabs.
indent-style = "space"

# Like Black, respect magic trailing commas.
skip-magic-trailing-comma = false

# Like Black, automatically detect the appropriate line ending.
line-ending = "auto"

